@using NutriPro.Data.Enums;
@using Newtonsoft.Json;
@using NutriPro.Mvc.Extensions;

@{
    Layout = null;
}

@model NutriPro.Application.Dtos.Management.UsersDto;

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <p style="font-size: 1.1em!important;margin: 0; font-weight: bold;">Editar Usuário</p>
</div>

<div class="modal-body">
    <form id="editUser" style="margin: auto!important">
        <input type="hidden" name="TenantId" value="@Model.TenantId" />
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />

        <div class="row">
            <div class="form-group col-md-6">
                @using (Html.MControlGroup(m => m.Email))
                {
                    @Html.MTextBoxFor(m => m.Email)
                }
            </div>

            <div class="form-group col-md-6">
                @using (Html.MControlGroup(m => m.FullName))
                {
                    @Html.MTextBoxFor(m => m.FullName)
                }
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @using (Html.MControlGroup(m => m.Password))
                {
                    @Html.MTextBoxFor(m => m.Password)
                }
            </div>

            <div class="form-group col-md-6">
                @using (Html.MControlGroup(m => m.Cpf))
                {
                    @Html.MTextBoxFor(m => m.Cpf)
                }
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="SelectedUnits" class="input-label">Selecionar Unidades<span class="input-label-required"></span></label>
                <select id="SelectedUnits" class="form-control" multiple required></select>
            </div>
        </div>
        <hr style="margin: 10px 0!important" />

        <div class="row">
            @Html.MSubmitButton("Atualizar Cadastro", "btn btn-success save", isFloatRight: true)
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $('#UserEditModal').on('shown.bs.modal', function () {
        var unitsJson = '@Html.Raw(JsonConvert.SerializeObject(Model.Units, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore }))';
        var units = JSON.parse(unitsJson);

        AjaxGetAllDefault("Units", function (data) {
            if (data && data.length > 0) {
                console.log("data: ", data);
                var allUnits = data.filter(function (unit) {
                    return unit.tenantId === parseInt($('input[name="TenantId"]').val());
                });

                var $selectedUnits = $("#SelectedUnits");
                $selectedUnits.empty();

                allUnits.forEach(function (unit) {
                    var isSelected = units.some(function (selectedUnit) {
                        console.log("validado: " + selectedUnit.Name + " - " + selectedUnit.Id === unit.id);
                        return selectedUnit.Id === unit.id;
                    });

                    var option = $("<option>", {
                        value: unit.id,
                        text: unit.name,
                        selected: isSelected
                    });
                    $selectedUnits.append(option);
                });

                $selectedUnits.select2();
            }
        });
    });

    $("#editUser").on('submit', function (e) {
        e.preventDefault();
        var selectedUnits = $("#SelectedUnits").val();
        var formData = new FormData($('#editUser')[0]);
        formData.append('SerializedUnitsList', JSON.stringify(selectedUnits));

        var url = `/Users/Update/${$('#Id').val()}`;

        AjaxUpdateDefault("#submitButton", url, formData, "#UserEditModal");
    });
</script>
